body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
  }

  h1 {
    height: 50px;
    margin: auto;
    text-align: center;
    background-color: darkblue;
    background-image: linear-gradient(to right, rgb(39, 39, 213) , rgba(101, 20, 101, 0.355));
  }

  h1 span {
    font-size: xx-large;
    color: white;
  }

  h2 span{
    font-weight: bold;
    margin-left: 10px;
  }

  .container {
    display: flex;
    justify-content: space-around;
  }

  .form-inline, .form-control, .previous-search {
    display: block;
    width: 300px;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .form-inline .btn {
    width: 300px;
    display: block;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    background-color: rgba(27, 88, 187, 0.601);
  }

  .previous-search .btn {
    width: 300px;
    margin-top: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: black;
    background-color: gray;
  }
  
  .search-result {
    float: right;
    margin-top: 15px;
    width: 50%;
    display: inline-block;
    border: 2px solid black;
    height: 170px;
  }

  h3 span{
    font-weight: bold;
    margin-left: 10px;
  }

  .result-five-day {
    margin-top: 50px;
    border: 2px solid black;
    width: 100%;
  }

  .day-one, .day-two, .day-three, .day-four, .day-five {
    background-color: rgb(62, 62, 101);
    height: 160px;
    width: 95%;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 5px;
  }

  ul span {
    font-weight: bold;
    font-size: 18px;
  }